---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Card from '../../layouts/Cardsq.astro';

const res = await fetch("https://contenido.oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=9&_fields=title,slug,yoast_head_json,categories&categories=6616");
const posts = await res.json();
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Cine" description={SITE_DESCRIPTION} />
		<meta charset="utf-8"/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <div class="container my-12 mx-auto px-4 md:px-12">
				<h1 class="py-4 font-bold text-4xl md:text-5xl text-oye tracking-tight">Oye de Cine</h1>
                <section class="flex flex-wrap -mx-1 lg:-mx-4">
                    {
                        posts.map((post:any) => ( 
                        <>
                        <Card {post} />
                        </>
                        ))
                    }
                </section>
                <div class="text-center mt-20">
                    <a href="/cine/2">
                        <button class="button-49 sig" role="button">Siguiente</button>
                    </a>
                </div>
            </div>
		</main>
		<Footer />
	</body>
</html>