/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 :root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),0 16px 32px rgba(var(--gray), 33%);
	--plyr-color-main: #e83229;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	/*background: linear-gradient(var(--gray-gradient)) no-repeat;*/
	/*background-size: 100% 600px;*/
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	background-color: #fff;
	background-color: #e5e5f7;
	background-image:  radial-gradient(#d7d7d7 1px, transparent 1px), radial-gradient(#e0afff 1px, #e5e5f7 1px);
	background-size: 40px 40px;
	background-position: 0 0,20px 20px;
}
main {
	width: 100%;
	/*max-width: calc(100% - 1em);*/
	margin: auto;
	overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.2em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	/*main {
		padding: 1em;
	}*/
	h1{
		font-size: 210%;
	}
	h2{
		font-size: 130%;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

@media (max-width: 1279px) {
  .container-home{
	max-width: 1280px !important;
	width: 100%;
  }
  .container{
	padding-right: 5%;
	padding-left: 5%;
	max-width: 100% !important;
  }
}

@media (min-width: 1280px) {
	.container-home, .container{
		max-width: 1280px !important;
	}
}





/*preloader*/
.loading{    opacity: 0.3;    transition: opacity 2s; }
.showpreloader {    display:blocK!important;    transition: opacity 2s; }
.preloader {    position: fixed;    left: 50%;    top: 50%;    display:none;  }
.circle-container {    width: 400px;    height: 200px;    /* background: red; */    /* centering the div */    position: absolute;    left: 50%;    top: 50%;    transform: translate(-50%, -50%)  }
.circle-container:after {    content: '';    width: 20px;    height: 5px;    position: absolute;    background: #000;    border-radius: 50%;    bottom: 0;  left: 50%;    opacity: 0.4;    animation: shadow 2s linear infinite;  }
.circle-container:nth-child(2):after {    animation-delay: -0.3s;  }  
.circle-container:nth-child(3):after {    animation-delay: -0.6s;  }  
.circle {    width: 15px;    height: 15px;    background: red;    border-radius: 50%;    position: absolute;    left: 50%;    top: 50%;    animation: anim 2s linear infinite;  }
.circle-container:nth-child(2) .circle {    animation-delay: -0.3s;  }
.circle-container:nth-child(3) .circle {    animation-delay: -0.6s;  }  
  @keyframes anim {
    0% {      transform-origin: 400% 50%;      transform: rotate(0);    }
    50% {      transform-origin: 400% 50%;      transform: rotate(360deg);  }
    50.1% {      transform-origin: -300% 50%;      transform: rotate(0deg);    }
    100% {      transform-origin: -300% 50%;      transform: rotate(-360deg);    }
  }
  
  @keyframes shadow {
    0% {}
    12.5% {      transform: translate(50px) scale(0.6);    }
    25% {      transform: translate(110px);    }
    37.5% {      transform: translate(50px) scale(1.4);    }
    50% {      transform: translate(0);    }
    62.5% {      transform: translate(-50px) scale(0.6);    }
    75% {      transform: translate(-110px);    }
    87.5% {      transform: translate(-50px) scale(1.4);    }
    100% {      transform: translate(0);    }
  }

  


/* PROGRAMACIÓN */
.tabs.programacion nav{
    display: flex;
    flex-wrap: nowrap;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    text-transform: uppercase;
    background: radial-gradient(circle at top left, #8114b8, rgb(217,64,172,0.75), #f4a3cc);
    width: 100%;
    justify-content: space-between;
    color: rgb(68 68 68);
    letter-spacing: 3px;
    text-shadow: 1px 2px rgb(255 242 249 / 61%);
	border-radius: 4px;
}

.tabs.programacion .tab-wrapper{
  padding: 10px 10px 0px 10px;
}
.tabs.programacion .tab-wrapper input:checked + label, .tabs.programacion .tab-wrapper label:hover{
    color: rgb(238, 238, 238);
    text-shadow: 1px 2px rgb(14 14 14 / 61%);
}

/* CONTENIDO NOTAS */
#imagen-nota{
	position: relative;
}
#imagen-nota::before{
  content:"";
  background-image: url('https://storage.googleapis.com/nrm-web/oye/recursos/10x10-transparenteb.jpg');  
  opacity:0.1;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.6;  
}

article .wp-block-embed-twitter{
	display: ruby-text;
	text-align: center;
}


article .wp-block-embed-instagram iframe {
    margin: 3rem auto !important;
}

article figure img {
    text-align: center;
    margin: 3rem auto;
}

article .flex-video.youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
article .flex-video.youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

article iframe.iframe-class{
	min-height: 800px;
}

article .wp-block-embed-youtube .wp-block-embed__wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
article .wp-block-embed-youtube .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* player */
.iframestyle {box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; background-image: url('https://storage.googleapis.com/nrm-web/oye/recursos/8p7m.gif'); background-size:contain; background-color:#15181f; border: 1px solid  black; border-radius: 6px;}
.loading-gif {	width: 20px; height: auto;}

	#player { transition: all 0.5s; background: linear-gradient(202.03deg, #741da9 14.4%, #7CDADA 78.24%); box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; animation: gradient 15s ease infinite; background-size:400%;}    
    #player .show { display:block }
    #player .hide{ display: none; }
    #player .active{ display: flex!important;  transition: all 1s;}

    
    
    .marquee { white-space: nowrap; overflow: hidden; width: 100%;}
    .marquee div{  display: inline-block; animation: animate 10s linear infinite; padding-left: 100%;}
    .label-ahora {padding: 0 10px;     font-size: 95%;    font-weight: bold;    white-space: nowrap;}
    input[type=range] {    -webkit-appearance: none;    margin: 10px 0;    width: 60%;  background: transparent;}
    input[type=range]:focus {    outline: none;    }
    input[type=range]::-webkit-slider-runnable-track {    width: 100%;    height: 12.8px;    cursor: pointer;    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;    background: #000000;    border-radius: 25px;    border: 0px solid #000101;}
    input[type=range]::-webkit-slider-thumb {    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;    border: 2px solid #000000;    height: 20px;    width: 39px;    border-radius: 7px;    background: #fff;    cursor: pointer;    -webkit-appearance: none;    margin-top: -3.6px;   }
    input[type=range]:focus::-webkit-slider-runnable-track {    background: #000000;    }
    input[type=range]::-moz-range-track {    width: 100%;    height: 12.8px;    cursor: pointer;    animate: 0.2s;    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;    background: #000000;    border-radius: 25px;    border: 0px solid #000101;   }
    input[type=range]::-moz-range-thumb {    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;    border: 2px solid #000000;    height: 20px;    width: 39px;    border-radius: 7px;    background: #fff;    cursor: pointer;    }
    input[type=range]::-ms-track {    width: 100%;    height: 12.8px;    cursor: pointer;    animate: 0.2s;    background: transparent;    border-color: transparent;    border-width: 39px 0;    color: transparent;    }
    input[type=range]::-ms-fill-lower {    background: #ffffff;    border: 0px solid #000101;    border-radius: 50px;    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;    }
    input[type=range]::-ms-fill-upper {    background: #ffffff;    border: 0px solid #000101;    border-radius: 50px;    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;    }
    input[type=range]::-ms-thumb {    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;    border: 0px solid #000000;    height: 20px;    width: 39px;    border-radius: 7px;    background: #545454;    cursor: pointer;    }
    input[type=range]:focus::-ms-fill-lower {    background: #fafafa;    }
    input[type=range]:focus::-ms-fill-upper {    background: #ffffff;    }
    
    @keyframes animate {
         100% {        transform: translate(-100%, 0);        }
    }
    
    @keyframes gradient {
        0% {	background-position: 0% 50%;    }
    	50% {	background-position: 100% 50%;	}
	    100% {	background-position: 0% 50%;	}
    }

/* PESTAÑA NOTIFICACIÓN */
.ns-attached{max-width: 350px !important; left: auto !important; }
.ns-effect-bouncyflip {
  background: #1FD3F6 !important;
  text-align: center;
  left: auto !important;
  right: 30px;
}
.ns-effect-bouncyflip p {  font-size: 16px;    }    
.ns-effect-bouncyflip .icon {
  position: relative !important;
  display: block !important;
  top: -45px !important;
  left: 260px !important;
}
.ns-box {
  padding: 5px !important;
  z-index: 100000 !important;
}        
.ns-box a{opacity:1 !important;}    
.ns-box-inner a, .ns-box-inner .fondo-live div:first-child{
  position: relative;
  top: 196px;
  left: -30px;
  text-decoration: none;
  line-height: 0px;
  color: #dc0d0d;
  font-size: 17px;
}
.ns-box-inner .fondo-live div:first-child, .ns-box-inner a{color: white;}
.ns-box-inner h3{margin: 0; font-size: 1.5rem; color: #fff;}
.ns-box-inner i {font-size: 2.3rem; position: relative; top: 7px;}

/*.ns-effect-bouncyflip #getting-started{
  color: #634e7b;
  position: absolute;
  top: -6px;
  width: 300px;            
}
.ns-effect-bouncyflip #getting-started p{font-size: 16px; padding: 0px;}
.ns-effect-bouncyflip #getting-started span{font-size: 20px; position: relative; top: 200px;}
.ns-effect-bouncyflip #getting-started h1 { margin-bottom: 10px;}*/
.ns-effect-bouncyflip .fondo-live{
  width: 300px;
  height: 256px;
  background: #fff url('https://contenido.oyedigital.mx/wp-content/uploads/2024/07/notificacion-FUSION.jpg') no-repeat;
  background-position: top center;
}
.ns-effect-bouncyflip .fondo-live .info{position: absolute; bottom: 0; font-size: 24px; bottom:35px; width: 300px;}
.ns-effect-bouncyflip .ns-close::after, .ns-effect-bouncyflip .ns-close::before{background: #fff !important;}
.ns-effect-bouncyflip .ns-close {right: -3px; top: -3px;}