---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Card from '../../layouts/CardsPoptrends.astro';
import DoubleBox from '../../components/DoubleBox.astro';
import BoxBanner from '../../components/BoxBanner.astro';


const res = await fetch("https://contenido.oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=20&categories=280&_fields=id,title,yoast_head_json,content,slug,categories");
const posts = await res.json();

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Pop Trends" description={SITE_DESCRIPTION} />
		 <meta charset="utf-8"/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <div class="container my-12 mx-auto px-4 md:px-12" id="content-w-video">
				<h1 class="py-4 font-bold [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Pop Trends</h1>
                <div class="flex flex-col lg:flex-row">
                    <div class="sm:min-w-[calc(100%-400px)] lg:mr-10">
                        <section class="flex flex-wrap -mx-4">
                            {
                                posts.map((post:any) => ( 
                                <>
                                <Card {post} />
                                </>
                                ))
                            }
                        </section>
                    </div>
                    <div class="bg-gray-300 p-5 rounded-md sm:min-w-[350px] relative text-center md:text-left">
                        <div class="sticky top-0 left-0 right-0">
                            <h3 class="text-xl text-black font-extrabold">PUBLICIDAD</h3>
                            <BoxBanner />
                            </br>
                            <DoubleBox />
                        </div>
                    </div>
                </div>
            </div>
		</main>
		<Footer />
	</body>    
    <!--link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/nrm-web/nrm/lib/plyr.css" />
    <script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/plyr.js"></script-->
    <!--script is:inline src="https://www.youtube.com/iframe_api"></script-->


    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/nrm-web/nrm/lib/toastify.css" />
    <script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/toastify.js"></script>
    
    
    
</html>

