---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { Image } from 'astro:assets';

//const res = await fetch("https://contenido.oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=9&_fields=title,slug,yoast_head_json,categories&categories=149");
//const posts = await res.json();

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Talento" description={SITE_DESCRIPTION} />
		 <meta charset="utf-8"/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="bg-black">
            <div class="container my-12 mx-auto px-4 md:px-12">
				<h1 class="p-4 font-bold text-4xl md:text-5xl text-oye tracking-tight">Talento</h1>
                <div class="flex flex-wrap -mx-1 lg:-mx-4">

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-arturo"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/arturo-interior.jpg" alt="Talento-Arturo" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-arturo" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Arturo Forzán</h1>
                                <div class="flex flex-wrap ">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/forzan-interior.jpg" alt="Talento-Arturo" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">Soy el creador y director creativo de Oye 89.7</span>
                                        <span class="italic text-base">Mi signo zodiacal es Aries y se puede notar. </span>
                                        <span class="font-bold text-zinc-500">He estado en FM Tú, Stereo 102, Pulsar FM 90.5, VOX 101.7.</span>
                                        <span class="text-red-500">Tuve la oportunidad de entrevistar a chespirito, una hora de entrevista y cuando se terminó me di cuenta que no se grabo, le pregunté si la podíamos repetir y sin dudarlo lo hicimos.</span>
                                        <span class="uppercase">Un gusto culposo es que tengo una obsesión con el Miguelito. </span>
                                        </br></br><span class="text-lg leading-tight">La voz que se Oye en tu Radio.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-tania"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/tania-cubo.jpg" alt="Talento-Tania" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-tania" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Tania La Pelirroja de la Radio</h1>
                                <div class="flex flex-wrap ">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/tania-interior.jpg" alt="Talento-Tania" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">It´s me, hi…</span>
                                        <span class="italic text-base">Y sí, soy Swiftie hasta más no poder, pero también amante del buen Harry Styles, de Coldplay, Muse. </span>
                                        <span class="font-bold text-zinc-500">Y en mi lado B, amo sin control a Danny Ocean, Mau y Ricky y Humbe.</span>
                                        <span class="text-red-500">Como buena representante también soy súper dramática.</span>                                        
                                        <span class="leading-tight text-zinc-500">Ya poniéndonos un poco serios, </span>
                                        <span class="font-bold">soy Tania Martínez,</span>
                                        <span>o quizás te suene más,</span> 
                                        <span class="text-red-600 font-bold">Tans, la pelirroja de la radio,</span>
                                        <span class="leading-tight">sólo que cambié la corona de princesa por la de reina, ya que todo en la vida tiene su evolución.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-sharon"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/SHARON-cubo.jpg" alt="Talento-Sharon" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-sharon" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Sharon Azoulay</h1>
                                <div class="flex flex-wrap ">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/sharon-interior.jpg" alt="Talento-Sharon" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold italic text-base">Siempre me verás vestida de negro o de plano con algo negro.</span>
                                        <span>⁠Desde chiquita sentía un amor muy grande por la locución, amaba escuchar la radio y no saber qué canción seguía, </span>
                                        <span class="font-bold text-zinc-500">no cabe duda que esa misma sensación me sigue gustando,</span>
                                        <span class="text-red-500">siempre preferiré la radio a cualquier otro medio!.</span>
                                        <span class="uppercase">⁠Mi comida favorita son las tortas, </span>
                                        <span>están de acuerdo que puede ser un platillo muuuuy balanceado si le echas varios ingredientes? </span>
                                        <span class="font-bold text-zinc-500">Quieres que despierte? Pásame un bueeeeen café!</span>
                                        <span>Lo amo y así es como tiene que empezar un día (no hay negociación).  </span>
                                        <br /><span class="text-red-600 font-bold">Así que ya saben, están invitados todos los días con las reinas de la mañana para echarnos un café y seguirnos conociendo con buena música.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-jaidy"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/jaidy-cubo.jpg" alt="Talento-Jaidy" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-jaidy" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Jaidy Robles</h1>
                                <div class="flex flex-wrap">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/jaidy-interior.jpg" alt="Talento-Jaidy" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">¡Soy de Acapulco y si, si se nadar!</span>
                                        <span>1.53 de puro peligro.</span>
                                        <span class="italic text-base">Soy 100% signo cáncer. </span>
                                        <span class="font-bold text-zinc-500">Tengo talentos ocultos como cantar, bailar y cocinar.</span>
                                        <span class="text-red-500">Mis cantantes favoritos son Miley Cyrus, The Weeknd, Luis Miguel y Bruno Mars.</span>
                                        <span class="uppercase">Extremadamente romántica y dramática para este mundo. </span>
                                        <span class="font-bold">Soy Irreverente, Divertida, Carismática, Directa, Auténtica.</span>
                                        <span class="text-lg leading-tight">Mi apodo en la oficina es Ternurin Diabólico, saquen sus conclusiones. </span>
                                        <span class="text-red-600 font-bold">Creo firmemente que todos los sueños se cumplen, siempre y cuando  lo hagas con amor y dedicación. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-diego"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/diego-cubo.jpg" alt="Talento-Diego" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-diego" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Diego Gil</h1>
                                <div class="flex flex-wrap ">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/diego-cubointerior.jpg" alt="Talento-Diego" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">De las cosas que más me gustan son por supuesto la música. </span>
                                        <span>El radio es mi pasión, pero también disfruto mucho de hacer contenido.</span>
                                        <span class="font-bold text-zinc-500">El mar me encanta. </span>
                                        <span class="text-red-500">Me gusta bucear. </span>
                                        <span class="uppercase">Soy géminis. </span>
                                        <span class="font-bold">Y todas las noches me puedes oír en oye 89.7 FM !!!!</span>
                                        <span class="text-lg leading-tight">A todo le pongo limón. </span>
                                        <span class="text-red-600 font-bold">Soy fan del picante y tengo una salsa diferente para cada cosa que me gusta. </span>
                                        <span class="italic text-base">Mi taco favorito es el campechano.</span>
                                        <span class="text-zinc-400">El color que más me gusta es el azul.</span>
                                         

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-emilio"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/emilio-cubo.jpg" alt="Talento-Emilio" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-emilio" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Emilio Catalán</h1>
                                <div class="flex flex-wrap">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/emilio-interior.jpg" alt="Talento-Emilio" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">Nací un 29 de Mayo de 1998. </span>
                                        <span class="text-red-600 font-bold">Soy Géminis. </span>
                                        <span class="italic text-base">Fui Chip en la obra profesional de “La Bella y La Bestia”. </span>
                                        <span class="font-bold text-zinc-500">Soy cantautor y tengo mi proyecto independiente..</span>
                                        <span class="text-red-500">Me gusta la música romántica y para sufrir.</span>
                                        <span class="uppercase">Mis comidas favoritas son la pasta y los tacos al pastor. </span>
                                        <span class="font-bold">El primer grupo que entrevisté en Oye fue Yard Act, quienes tienen una colab con Elton John.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-aura"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/aura-cubo.jpg" alt="Talento-Aura" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-aura" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Aura Ramírez</h1>
                                <div class="flex flex-wrap">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/aura-cubointerior.jpg" alt="Talento-Aura" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">Soy Tauro como Cher, Sam Smith y Sabrina Carpenter.</span>
                                        <span>Siempre ando en busca de lugares donde sirvan cafecito con pan.</span>
                                        <span class="italic text-base">Los dos lugares más bonitos de la CDMX es el MUNAL o la Biblioteca Vasconcelos. </span>
                                        <span class="font-bold text-zinc-500">Cuando bailo reggaeton me regresan las ganas de vivir.</span>
                                        <span class="text-red-500">Mi libro favorito es Querida Emmie Blue de Lia Louis.</span>
                                        <span class="uppercase">La canción que no dejo de escuchar es: L’AMOUR DE MA VIE de Billie Eilish. </span>
                                        <span class="font-bold">Mi helado favorito es el de piñón.</span>
                                        <span class="text-lg leading-tight">Mis flores favoritas son las gerberas. </span>
                                        <span class="text-red-600 font-bold">Cuando me enteré que sería parte de los locutores de Oye me fui a festejar a La Azotea de Barrio Alameda. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-poncho"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/poncho-cubo.jpg" alt="Talento-Poncho" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-poncho" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Poncho Yezka</h1>
                                <div class="flex flex-wrap ">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/poncho-interior.jpg" alt="Talento-Diego" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">Soy adulto pero no ejerzo. </span>
                                        <span class="italic text-base">Me encantan los perros. </span>
                                        <span class="font-bold text-zinc-500">Tengo un chihuahua y una Xoloitzcuintle.</span>
                                        <span class="text-red-500">Se me olvidó como parpadear y por eso ya no parpadeo.</span>
                                        <span class="uppercase">De niño salí en un video de Aleks Syntek “La fe de antes”. </span>
                                        <span class="font-bold">Amo a Lisa de Blackpink.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                        <div class="interior">
                            <a class="btn" href="#open-modal-sergio"> 
                                <Image class="block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/sergio-cubo.jpg" alt="Talento-Sergio" width="500" height="500" />
                            </a>
                        </div>
                        
                        <div id="open-modal-sergio" class="modal-window">
                            <div>
                                <a href="#" title="Close" class="modal-close">X</a>
                                <h1 class="font-bold text-5xl text-center">Sergio Mejía</h1>
                                <div class="flex flex-wrap">
                                    <Image class="w-full md:w-1/2 block h-auto w-full object-cover rounded" src="https://storage.googleapis.com/nrm-web/oye/recursos/talento/sergio-interior.jpg" alt="Talento-Sergio" width="500" height="500" />
                                    <div class="w-full md:w-1/2 text-base p-4">
                                        <span class="text-lg leading-tight font-bold">Me encanta la radio y sobre todo ser parte de tus días.</span>
                                        <span class="text-red-600 font-bold">Me dicen Serge.</span>
                                        <span class="italic text-base">Puedo decirte que el futbol y los Pumas es mi amor incondicional. </span>
                                        <span class="font-bold text-zinc-500">Amo hacer ejercicio y soy parte del club de las 5 am.</span>
                                        <span class="text-red-500">Me encantan los atardeceres y hacer radio desde cualquier latitud.</span>
                                        <span class="uppercase">Amo los deportes extremos y las alturas. </span>
                                        <span class="font-bold">Si hay plan de fin de semana para escalar, paracaídas o hiking estoy dentro.</span>
                                        <span class="text-lg leading-tight">Seguramente me has escuchado en algún comercial porque también me apasiona la publicidad. </span>
                                        <span class="text-red-600 font-bold">Te acompaño en distintos títulos de audiolibros. </span>
                                        <span class="font-bold text-zinc-500">Crear paisajes sonoros sin duda es lo mejor que me ha pasado en la vida.</span>
                                        <span class="text-red-500 font-bold">Gracias por ser parte de esta historia.</span>
                                        </br>
                                        <p class="text-sm italic leading-none">No soy bueno para dar consejos, sin embargo, jamás dejes de creer en tus capacidades y nunca permitas que algo o alguien limite tus sueños y ganas de seguir creciendo, hay ciclos que deben cerrarse y siempre es bueno saber cuando partir y abrir otras puertas. La palabra es tu arma mas poderosa. <b>Confia en ti. =)</b> </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

               </div>
                <!--div class="flex flex-wrap -mx-1 lg:-mx-4">
                    <article class="w-full lg:w-1/2 lg:p-4">
                        <figure><img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/04/PONCHO-oye.png" alt=""></figure>
                        <h2>Poncho Yezka</h2>
                        <h4>El Debraye</h4>
                        <p>Lunes a viernes de 6:00 a 10:00 hrs.</p>
                        <h4>Tu Fandom</h4>
                        <p>Sábados de 19:00 a 20:00 hrs.</p>
                    </article>
                    <article class="w-full lg:w-1/2 lg:p-4">
                        <figure><img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/04/SERGIO-oye.png" alt=""></figure>
                        <h2>Sergio Mejía</h2>
                        <h4>Aquí y Ahora</h4>
                        <p>Lunes a sábado de 10:00 a 14:00 hrs.</p>
                        <h4>Oye la Zona Coder</h4>
                        <p>Sábados de 10:00 a 11:00 hrs.</p>
                    </article>
                    <article class="w-full lg:w-1/2 lg:p-4">
                        <figure><img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/04/auraramirez-oye-500x500-1.png" alt=""></figure>
                        <h2>Aura Ramírez</h2>
                        <h4>Keep Driving</h4>
                        <p>Lunes a viernes de 14:00 a 18:00 hrs.</p>
                    </article>
                    <article class="w-full lg:w-1/2 lg:p-4">
                        <figure><img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/04/DIEGO-oye.png" alt=""></figure>
                        <h2>Diego Gil</h2>
                        <h4>Trending Topic </h4>
                        <p>Lunes a viernes de 18:00 a 22:00 hrs. y domingos de 10:00 a 14:00 hrs.</p>
                    </article>
                    <article class="w-full lg:w-1/2 lg:p-4">
                        <figure><img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/04/EMILIO-oye.png" alt=""></figure>
                        <h2>Emilio Catalán</h2>
                        <h4>Ruta Oye</h4>
                        <h4>Funday Sunday</h4>
                        <p>Domingos de 8:00 a 10:00 hrs.</p>
                        <h4>Pop Trends</h4>
                        <p>Sábados y domingos de 18:00 a 19:00 hrs.</p>
                    </article>
                    <article class="w-full lg:w-1/2 lg:p-4">
                        <figure><img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/04/JAIDY-oye.png" alt=""></figure>
                        <h2>Jaidy Robles</h2>
                        <h4>El Debraye</h4>
                        <p>Lunes a viernes de 6:00 a 10:00 hrs.</p>
                        <h4>Funday Sunday</h4>
                        <p>Domingos de 8:00 a 10:00 hrs.</p>
                    </article>
                </div-->
            </div>
		</main>
		<Footer />
	</body>
</html>

<style>
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}
.modal-window:target {
   visibility: visible;
   opacity: 1;
   pointer-events: auto;
}
.modal-window > div {
    width: 70%;
    max-width: 1100px;
    max-height: 800px;
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
    border-radius: 1rem;
}

@media (max-width: 991px) {
	.modal-window > div {
        width: 95%;
        max-height: 600px;
        overflow: scroll;
    }
}
 .modal-window header {
    font-weight: bold;
  }

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
    color: black;
  }

/* Demo Styles */

.logo {
  max-width: 150px;
  display: block;
}

small {
  color: lightgray;
}

.btn {
}

</style>


<!--style>
    figure {
        aspect-ratio: 8 / 5;
        --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
        --accent: hsl(280 80% 40%);
        --bg: hsl(330 80% calc(56% - (var(--hover) * 10%)));
        --bg: hsl(260 340% calc(90% - (var(--hover) * 10%)));
        --accent: hsl(180 77% 40%);
        transition: background 0.2s;
        background:
            radial-gradient(circle at top left, var(--accent), transparent 75%),
            var(--bg);
        margin: 0;
        position: relative;
        overflow: hidden;
        border-radius: 1.5rem;

    }

    h2{
        font-weight: bold;
        text-align: center;
    }
    h4{
        color: #570757;
        font-weight: bold;
        text-align: center;
        font-size: 120%;
    }

    p{
        color: #570757;
        text-align: center;
    }

    img {
        position: absolute;
        left: 20%;
        top: 0%;
        width: 50%;
        transform: translateX(calc(var(--hover) * -15%))
        scale(calc(1 + (var(--hover) * 0.2)));
        transition: transform 0.2s;
        mask-image: linear-gradient(black:80%, transparent);
    }

    article {
    --hover: 0;
    }

    article:hover {
    --hover: 1;
    }
</style-->
