---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CardNews from '../layouts/CardsHomeNews.astro';
import CardKpop from '../layouts/CardsHomeKpop.astro';
import CardCine from '../layouts/CardsHomeCine.astro';
import CardEntrevistas from '../layouts/CardsHomeEntrevistas.astro';
import CardPopTrends from '../layouts/CardsHomePoptrends.astro';
import SliderPodcast from '../layouts/SliderPodcast.astro';
import SliderPoptrends from '../layouts/SliderPoptrends.astro';
import Separator from '../components/Separator.astro';
import HomeHeader from '../layouts/HomeHeader2.astro';
import DoubleBox from '../components/DoubleBox.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import SliderPromociones from '../layouts/SliderPromociones.astro';
//import { Image } from 'astro:assets';
import LeaderBoard from '../components/LeaderBoard.astro';
import SuperLeader from '../components/SuperLeader.astro';

---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} seccion="Home" description={SITE_DESCRIPTION} />		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main id="home">
				<section>
					<HomeHeader />
				</section>
					<LeaderBoard />
				<section>
					<div class="flex flex-wrap container-home mx-auto">
						
						<!--div class="md:table my-7 mx-auto text-center">
							<a href="https://enfoquenoticias.com.mx/los-juegos-de-la-luz/" target="_blank"><img src="https://storage.googleapis.com/nrm-web/nrm/images/320x90.jpg" width="320" height="90" alt="Juegos Olímpicos"></a>
						</div-->
					</div>
				</section>
				<section>
					<div class="table mx-auto text-center mt-4 mb-12 sm:hidden">
						<a href="/peticiones">
						<img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/07/BANNER-2.jpg" width="300" height="100" alt="Imagen Peticiones" />
						</a>
					</div>
				</section>
				<!--secttion>
					<div class="container-home px-4 my-12 mx-auto">
						<div class="flex flex-wrap">
							<div class="w-full lg:w-2/3">
								<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Pop News</h1>
								<CardNews />
							</div>
							<div class="w-full lg:w-1/3 bg-purple-300 rounded">
								<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl text-center [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Pop Trends</h1>
								<CardPopTrends />
							</div>
						</div>
					</div>
				</secttion-->
				<secttion>
					<div class="container-home px-4 my-12 mx-auto">
						<div class="w-full">
							<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Pop News</h1>
							<CardNews />							
						</div>
					</div>
				</secttion>
				<SuperLeader />
				<secttion>
					<div class="container-home px-4 my-12 mx-auto">
						<div class="w-full bg-[#e6cdf5] pb-12 rounded">
							<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl text-center [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Pop Trends</h1>
							<SliderPoptrends />
						</div>
					</div>
				</secttion>
				<secttion>
					<div class="container-home px-4 my-12 mx-auto">
						<div class="w-full">
							<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">K-Pop</h1>
							<CardKpop />
						</div>
					</div>
				</secttion>
				<Separator />
				<secttion>
					<div class="container-home px-4 my-12 mx-auto">
						<div class="w-full">
							<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Oye de Cine</h1>
							<CardCine />
						</div>
					</div>
				</secttion>
				<Separator />
				<section>
					<div class="container-home lg:my-12 mx-auto">
						<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Promociones</h1>
						<div class="flex flex-wrap">
							<div class="w-full lg:w-2/3">
								<SliderPromociones />
							</div>
							<div class="w-full mt-8 lg:w-1/3 lg:m-0 content-center">
							<DoubleBox />
							</div>
						</div>

					</div>
				</section>

				<section>
					<div class="container-home w-full mx-auto">
						<h1 class="py-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)]">Podcast</h1>
						<SliderPodcast />
					</div>
				</section>
		</main>
		
		<Footer />
	</body>
		

</html>
