---
import { Image } from "astro:assets"
---
<div>
    <Image class="mx-auto" src="https://oyedigital.mx/wp-content/uploads/2024/05/publicidad-convers.jpg" width="300" height="250" alt="Publicidad"/>
</div>