---
import { Image } from "astro:assets"
---
<div>
    <Image class="mx-auto" src="https://oyedigital.mx/wp-content/uploads/2024/05/13667542338706503595.jpg" width="300" height="600" alt="Publicidad"/>
</div>