---
---

<div class="double-box table mx-auto text-center">
 	<a target="_blank" href="AKAOjstghAqARL4Kv-f9-zW6K9lHG_DXkFsRkmv0pB9BAAZz2p8eVm5x61tUMszngEQtXptoKCz4KkfAYqj8YBeHoV2T3aeh991_YwCxGHvz7MGtFPSRrQX--hF33tzYAviOyorp6PndXGszsEdAbbB31WLg6aVdNgEufxWiG6W-1u6v561rSjUrHqWIbYklzdi0S1Tvy1JrL7GtwPU0fV9l7gVrwsk_3D3NLLg2T1g3e3H2ah8VDw0XDck9e5EhAtDxIOFT5Z037qUes5Pa1t-khPm6pNZtvjH6y2GfJAR3gOn7qPST-2pty1jKaP1a5zjYW7jctBk4CinWyXX4R1XJco4H&sai=AMfl-YSCSAfIAoCoNbG_e42wwj05LuoWfGb07Z5ZWYqI1h1OixCK5Zg4hdXMcmNrLX-j-EmHX-o8XAaXnFz9sLyy-EuaNTVt2-tinczMZRou0jE1Nkx0GAOdiA8fWjxRkw&sig=Cg0ArKJSzIwdmvlWR6ga&fbs_aeid=%5Bgw_fbsaeid%5D&adurl=https://www.imss.gob.mx/&nm=4&nx=116&ny=-367&mb=2">
		<img src="https://contenido.oyedigital.mx/wp-content/uploads/2024/07/2771897712811175811.gif"/>
	</a>
</div>
<br>