---
import Player from './Player.astro';


const today = new Date();
---

<div><Player transition:persist /></div>

<div class="preloader">
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
</div>

<footer>
	
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	
</style>

