---
import Player from './Player.astro';
import { Image } from 'astro:assets';
import Notificacion  from './Notificacion.astro';
---

<div><Player transition:persist /></div>

<div class="preloader">
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
</div>

<footer>
	<div class="block lg:flex text-black container m-auto">
		<div class="w-full lg:w-1/3">
			<Image class="text-center mx-auto" src="https://storage.googleapis.com/nrm-web/nrm/images/NRM_blanco_logo-2.png" width="197" height="103" alt="NRM Comunicaciones"/>
			<div class="flex items-center text-xs whitespace-nowrap justify-center mt-3">
				<a class="text-gray-500 hover:text-gray-900" href="/avisodeprivacidad">Aviso de Privacidad</a>
				<a class="ml-3 text-gray-500 hover:text-gray-900" href="/terminosycondiciones">Términos y Condiciones</a>
			</div>
		</div>
		<div class="w-full mt-8 lg:w-1/3 lg:mt-0 text-sm">
			<div class="flex items-center mb-2">
				<i class="bg-[#65E9E7] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg></i>
				<span class="text-left">Prol. Paseo de la Reforma 115 Paseo de las Lomas Santa Fe Álvaro Obregón, 01330</span>
			</div>
			<div class="flex items-center mb-2">
				<i class="bg-[#65E9E7] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg></i>
				<span>+52 55 5258 1266</span>
			</div>
			<div class="flex items-center mb-2">
				<i class="bg-[#65E9E7] p-1 rounded-full mr-3"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg></i>
				<span>ventas@nrm.com.mx</span>
			</div>
		</div>
		<div class="w-full mt-8 mb-3 lg:w-1/3 lg:mt-0 text-sm text-center">
			<div class="flex justify-around">
				<a class="bg-[#45629f] p-1 rounded-full mr-3 text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.facebook.com/Oye897FM" target="_blank" aria-label="Facebook"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
				<a class="bg-black p-1 rounded-full mr-3 text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://twitter.com/Oye897" target="_blank" aria-label="x"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg></a>
				<a class="bg-gradient-to-r from-[#ff3d3b] to-[#BE2397] p-1 rounded-full mr-3 text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.instagram.com/oye897/" target="_blank" aria-label="Instagram"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg></a>
				<a class="bg-[#FE2905] p-1 rounded-full mr-3 text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.youtube.com/user/OYE897FMoficial" target="_blank" aria-label="Youtube"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z" /><path d="M10 9l5 3l-5 3z" /></svg></a>
				<a class="bg-black p-1 rounded-full mr-3 text-white hover:text-white hover:shadow-[0_0px_14px_6px_rgba(255,255,255,0.3)]" href="https://www.tiktok.com/@oye897fm" target="_blank"aria-label="TikTok" ><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" /></svg></a>
			</div>
			<div class="mt-5">
				Descarga nuestas aplicaciones
				<div class="flex justify-center">
					<a target="_blank" href="https://apps.apple.com/mx/app/oye-89-7/id444174205" aria-label="Descargar la app para iOS"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/store.png" width="112" height="35" alt="Abre una nueva ventana"/></a>
					<a target="_blank" href="https://play.google.com/store/apps/details?id=com.sferea.oye&pli=1" aria-label="Descargar la app para Android"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/google.png" width="112" height="35" alt="Abre un nueva ventana"/></a>
					<a target="_blank" href="/alexa" aria-label="Usa la skill de Alexa"><Image class="sm:max-w-28" src="https://storage.googleapis.com/nrm-web/nrm/images/alexa.png" width="112" height="35" alt="Abre una nueva ventana"/></a>
				</div>
			</div>


		</div>
	</div>
	<hr class="border-t-[3px]">
	<div class="text-gray-500 text-center text-xs mt-2">
	COPYRIGHT © 2024 Todos los derechos reservados NRM Comunicaciones
	</div>
</footer>
<!--Notificacion /-->
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(#d192e9, #fff) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
</style>	


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M9RYDQ6Z9L"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M9RYDQ6Z9L');
</script>

<script defer>
    // Cargue GPT de forma síncrona (Expandibles y Creatividad Adaptable)
    (function() {
        var useSSL = 'https:' == document.location.protocol;
        var src = (useSSL ? 'https:' : 'http:') +
        '//www.googletagservices.com/tag/js/gpt.js';
        document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
    })();
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7423640555477330" crossorigin="anonymous"></script>
