---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Player from './Player.astro';
import { ViewTransitions } from 'astro:transitions';
import Menu from './Menu.astro';
---

<header>
	<ViewTransitions />
	<!--nav>
		<a href="/"><img src="https://oyedigital.mx/wp-content/uploads/2021/07/logo-oye-2023.png"/></a>
		<div class="internal-links">
			<HeaderLink href="/">INICIO</HeaderLink>
			<HeaderLink href="/promociones">PROMOCIONES</HeaderLink>
			<HeaderLink href="/noticias">QUICKYS</HeaderLink>
			<HeaderLink href="/peticiones">PETICIONES</HeaderLink>
		</div>				
	</nav-->

	<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
	  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
		<a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
			<img src="https://oyedigital.mx/wp-content/uploads/2021/07/logo-oye-2023.png" class="max-w-28" alt="Oye Logo" />
		</a>
		<Menu />
	  </div>
	
	</nav>

</header>
<div><Player client:visible transition:persist /></div>
<!--style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style-->
