---
import { ViewTransitions } from 'astro:transitions';
import Menu from './Menu.astro';
import MenuLineal from './MenuLineal.astro';
---

<header>
	<ViewTransitions />	
	<nav class="border-gray-200 bg-gradient-to-r from-fuchsia-600 to-violet-900 overflow-hidden lg:overflow-visible">
	  <div class="max-w-screen-xl flex flex-nowrap items-center justify-between mx-auto p-2">
		<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
			<img src="https://storage.googleapis.com/nrm-web/oye/recursos/logo-oye-PATRIO1.png" class="max-w-36" alt="Oye 89.7FM" width="140" height="75" />
		</a>
		<MenuLineal />
	  </div>	
	</nav>
</header>

<style>
nav{
	background: url(https://stereociendigital.mx/wp-content/uploads/2024/09/EFEMERIDE-SEP-16-STEREOpsd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
	color:black
}

nav a{
	color: black;
}
</style>
