---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import Player from './Player.astro';
import { ViewTransitions } from 'astro:transitions';
import Menu from './Menu.astro';
---

<header>
	<ViewTransitions />
	<!--nav>
		<a href="/"><img src="https://oyedigital.mx/wp-content/uploads/2021/07/logo-oye-2023.png"/></a>
		<div class="internal-links">
			<HeaderLink href="/">INICIO</HeaderLink>
			<HeaderLink href="/promociones">PROMOCIONES</HeaderLink>
			<HeaderLink href="/noticias">QUICKYS</HeaderLink>
			<HeaderLink href="/peticiones">PETICIONES</HeaderLink>
		</div>				
	</nav-->

	<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
	  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
		<a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
			<img src="https://oyedigital.mx/wp-content/uploads/2021/07/logo-oye-2023.png" class="max-w-28" alt="Oye Logo" />
		</a>
		<button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
			<span class="sr-only">Open main menu</span>
			<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
			</svg>
		</button>
		<Menu />
	  </div>
	
	</nav>

</header>
<div><Player client:visible transition:persist /></div>
<!--style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style-->
