---
---

<div class="leader hidden md:table my-7 mx-auto text-center">
   <div id="ad-slot4">
	<script defer is:inline>
	  var gptAdSlots4 = [];
	  googletag.cmd.push(function() {
 	    var mapping4 = googletag.sizeMapping().
	    addSize([728, 90]).
	    build();
	    var slot4 = googletag.defineSlot("/21799830913/Oye", [728, 90],'ad-slot4').
	    defineSizeMapping(mapping4).
	    addService(googletag.pubads());
	    googletag.pubads().setTargeting("test","responsive");
	    googletag.enableServices();
	    googletag.display('ad-slot4');
	    googletag.pubads().refresh([slot4]);
	    //setInterval(function(){googletag.pubads().refresh([slot4]);}, 180000);
	  });
	</script>
   </div>

    <!--div>
		<ins class="adsbygoogle"
				style="display:inline-block;width:728px;height:90px"
				data-ad-client="ca-pub-8967648811893605"
				data-ad-slot="1995902788"></ins>
		<script defer is:inline>
				(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
    </div-->

</div>