<div class="separator my-16">    </div>
<style>
    .separator{
        width: 100%;
        height: 20px;
        background: linear-gradient(135deg, #f02e7b80 50%, transparent 0),linear-gradient(-135deg, #f02e7b80 50%, transparent 0);
        background-size: 3em 3em;
        background-color: #e5e5f7;
        opacity: 1;
        background-size: 1.2rem;
    }    
</style>