---
import { Image } from "astro:assets"
---

<div class="my-9">
    <Image class="mx-auto" src="https://oyedigital.mx/wp-content/uploads/2024/05/970x90.png" width="970" height="90" alt="Publicidad"/>
</div>