---
import { string } from 'astro/zod';
import { seccion } from '../pages/promociones/index.astro';

export interface Props {
    post: {
      imagePath: string;
      title: {
         rendered: string;
      }
      acf:{
        ds: string;
      }
      content: string;
      slug: string;
      categories : {};
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;         
      }
    };
    
}

const { post } = Astro.props;

---
<div class="card w-full lg:w-1/2 md:p-4 p-2 pb-4 ">
    <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-xl border-2 border-pink-600">
        <header class="flex items-center justify-between leading-tight p-2 md:p-4 min-h-28">
            <h2 class="text-base text-purple-900 font-bold" >   
                    {post.title.rendered}
                
            </h2>
           
        </header>
        <div set:html={post.acf.ds}></div>
    </article>
</div>