---
import { string } from 'astro/zod';
import { seccion } from '../pages/promociones/index.astro';


export interface Props {
    post: {
      imagePath: string;
      title: {
         rendered: string;
      }
      acf:{
        ds: string;
      }
      content: string;
      slug: string;
      categories : {};
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;         
      }
    };
    
}

const { post } = Astro.props;

var url_seccion;

switch (post.categories[0]){
    case 149:        
        url_seccion = 'pop-news';
    break;
    case 1606:
        url_seccion = 'promociones';
    break;
    case 1207:
        url_seccion = 'eventos';
    break;
    case 156:
        url_seccion = 'entrevistas';
    break;      
}


/*const section = post.yoast_head_json.schema['@graph'][0].articleSection; 
console.log(section);*/

---

<div class="card w-full md:w-1 lg:w-1/2 xl:w-1/2 md:p-4 pb-4 audiopod">
    <article class="overflow-hidden rounded-lg shadow-lg hover:shadow-xl border-2 border-pink-600">
        <header class="flex items-center justify-between leading-tight p-2 md:p-4 min-h-28">
            <h2 class="text-base text-purple-900 font-bold" >   
                    {post.title.rendered}
                
            </h2>
           
        </header>
        <div  data-iframe={post.acf.ds}></div>
    </article>
</div>

