---
import DoubleBox from '../components/DoubleBox.astro';
import BoxBanner from '../components/BoxBanner.astro';
import LeaderBoard from'../components/LeaderBoard.astro';
import SuperLeader from '../components/SuperLeader.astro';
import { Image } from 'astro:assets';


const res = await fetch("https://contenido.oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=20&categories=280&_fields=id,title,yoast_head_json,content,slug,categories,_links,_embedded");
const posts = await res.json();

/*export interface Props {
    index: number;    
}

const { index }= Astro.props;
const ind = index +1;*/
---
<div class="flex flex-wrap">
{
posts.map((post:any, index)=> (
    <a class=" flex flex-wrap items-center text-black hover:text-[#7b439b] w-1/2 sm:w-1/2 lg:w-1/2 px-8 mb-8" href={`/poptrends`}>
        <!--div class="w-2/12">
            <span class="text-4xl" set:html={ind}></span>
        </div-->
        <div class="w-4/12">
            <Image class="block h-auto w-full shadow-[0_2px_12px_7px_rgba(0,0,0,0.4)] rounded object-fill" src={post._embedded['wp:featuredmedia'][0].media_details.sizes['small-feature'].source_url} width="300" height="150" alt="Imagen Ilustrativa Pop Trends"  />
        </div>
        <div class="w-6/12">
            <p class="font-bold leading-none my-4 text-lg text-center" set:html={post.title.rendered}></p>
        </div>
    </a>
))    
}
</div>