---
import DoubleBox from '../components/DoubleBox.astro';
import BoxBanner from '../components/BoxBanner.astro';
import LeaderBoard from'../components/LeaderBoard.astro';
import SuperLeader from '../components/SuperLeader.astro';
import { Image } from 'astro:assets';


const res = await fetch("https://contenido.oyedigital.mx/wp-json/wp/v2/posts?_fields=title,slug,yoast_head_json,_links,_embedded&_embed&per_page=8&categories=6616");

const posts = await res.json();

---
<div class="flex flex-wrap">
{
posts.map((post:any)=> (
    <a class="text-white hover:text-[#fe0c01] w-1/2 lg:w-1/4 px-4 mb-8" href={`/cine/${post.slug}/`}>
        <!--Image class="block h-auto w-full aspect-video shadow-[0_2px_12px_7px_rgba(0,0,0,0.4)] rounded object-fill" src={post.yoast_head_json.og_image[0].url} width="300" height="150" alt={post.title.rendered}  /-->
        <Image class="block h-auto w-full border border-[#890000] shadow-[0_2px_12px_7px_rgba(0,0,0,0.4)] rounded object-fill aspect-video" src={post._embedded['wp:featuredmedia'][0].media_details.sizes['oye-size'].source_url} width="300" height="150" alt="Imagen Ilustrativa Entrevistas"  />
        <p class="font-bold leading-none my-4 text-base text-center" set:html={post.title.rendered}></p>
    </a>  
))    
}
</div>



<div class="m-auto mb-8 text-center">
    <a href="/cine">
        <button class="button-49" role="button">Ver más</button>
    </a>
</div>
