<div class="heder-player relative">
  <div class="relative min-h-[300px] xl:min-h-[500px] max-h-[500px]" id="infoprog">
      <ul class="ken-burns-slideshow">
          <li class="slide" id="slide1"></li>
          <li class="slide" id="slide2"></li>
          <li class="slide" id="slide3"></li>
          <li class="slide" id="slide4"></li>
          <li class="slide" id="slide5"></li>
          <li class="slide" id="slide6"></li>
          <li class="slide" id="slide7"></li>
      </ul>
      <div class= "lg:container mx-auto flex justify-around" >
          <div class="w-[40%] items-center text-center sm:text-left mt-[6%]">
            <label class="text-white p-1 rounded bg-[#eb2639] shadow-xl">AHORA EN VIVO</label>
            <div class="text-white font-bold [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)] w-12/12 md:w-10/12 sm:text-xl lg:text-2xl xl:text-4xl" id="nombreprog">Oye 89.7FM</div>
          </div>
          <!--div id="imgprog"><img class="block h-auto w-full imgprog" src="https://storage.googleapis.com/nrm-web/oye/recursos/oye-bw-min.png" width="366" height="500" alt="Ahora en vivo" /></div-->
          <div class="w-[40%] mt-[7%] sm:mt-0"><img class="block h-auto w-full m-auto" src="https://storage.googleapis.com/nrm-web/oye/recursos/logo-oye-fusion500-min.png" alt="Ahora en vivo" /></div>
      </div>

  </div>
  <div id="big-play" class="z-20 absolute bottom-[14%] lg:bottom-1/4 left-[14%] lg:left-1/4  border-8 rounded-full border-[#eb2639] shadow-[0_2px_12px_6px_rgba(163,53,53,0.4)] cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="90" height="90" viewBox="0 0 24 24" stroke-width="2" stroke="#eb2639" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M7 4v16l13 -8z" />
    </svg>
  </div>

 
</div>
<style>
/* HOME HEADER*/


#infoprog{
    background-color: #BF29D3;
    z-index: -3;
}
#infoprog #imgprog img{
	filter: drop-shadow(-4px 0px 0 white) 
	drop-shadow(4px -2px 0px white);
	/*aspect-ratio: 183/250;*/
}
.ken-burns-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style-type: none;
}
.ken-burns-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1.2);
  animation: kenburns 44s linear infinite;
}
.ken-burns-slideshow .slide:nth-child(1) {
  animation-delay: 2s;
}
.ken-burns-slideshow .slide:nth-child(2) {
  animation-delay: 8s;
}
.ken-burns-slideshow .slide:nth-child(3) {
  animation-delay: 14s;
}
.ken-burns-slideshow .slide:nth-child(4) {
  animation-delay: 20s;
}
.ken-burns-slideshow .slide:nth-child(5) {
  animation-delay: 26s;
}
.ken-burns-slideshow .slide:nth-child(6) {
  animation-delay: 32s;
}
.ken-burns-slideshow .slide:nth-child(7) {
  animation-delay: 38s;
}

#slide1 {
  background-image: url("https://contenido.oyedigital.mx/wp-content/uploads/2024/06/kenia.jpg");
}

#slide2 {
  background-image: url("https://contenido.oyedigital.mx/wp-content/uploads/2024/06/mario-bautista.jpg");
}

#slide3 {
  background-image: url("https://contenido.oyedigital.mx/wp-content/uploads/2024/06/BTS.jpg");
}

#slide4 {
  background-image: url("https://contenido.oyedigital.mx/wp-content/uploads/2024/06/mario-maluma2.jpg");
}

#slide5 {
  background-image: url("https://contenido.oyedigital.mx/wp-content/uploads/2024/06/taylor.jpg");
}

#slide6 {
  background-image: url("https://contenido.oyedigital.mx/wp-content/uploads/2024/06/mario-danna2.jpg");
}

#slide7 {
  background-image: url("https://contenido.oyedigital.mx/wp-content/uploads/2024/06/black-pink.jpg");
}

@keyframes kenburns {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0;
    transform: scale(1);
  }
}


</style>