<div class="relative min-h-[310px] md:min-h-[500px]" id="infoprog">
    <div class= "md:container mx-auto flex  md:justify-around items-center md:items-center" >
        <div class="items-center text-center md:text-left">
            <label class="text-white p-1 rounded bg-teal-600/[0.6] shadow-xl">AHORA EN VIVO</label>
            <div class="text-white font-bold [text-shadow:2px_4px_2px_rgb(88_29_135_/_64%)] w-12/12 md:w-10/12 md:text-4xl" id="nombreprog">Oye 89.7FM</div>
        </div>
        <div id="imgprog"><img class="block h-auto w-full imgprog" src="https://storage.googleapis.com/nrm-web/oye/recursos/oye-bw-min.png" width="366" height="500" alt="Ahora en vivo" /></div>
    </div>
    <div id="big-play" class="z-10 absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 border-2 rounded-full border-white cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="65" height="65" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 4v16l13 -8z" />
          </svg>
    </div>
</div>

<style>
/* HOME HEADER*/
#infoprog{	
	/*background-size: 50%;*/
    /*background-color: #f02e7b;	*/
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%234e1d96' fill-opacity='0.95' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");*/
	
	animation: gradient 20s linear infinite;
	/*animation: gradient 10s ease infinite; background-size:400%;*/
	background: url('https://contenido.oyedigital.mx/wp-content/uploads/2024/06/prueba4-2.png');
	background: url('https://contenido.oyedigital.mx/wp-content/uploads/2024/06/prueba5-2.png');
	background-size: cover;

}

#infoprog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(202.03deg, #741da9 14.4%, #7CDADA 78.24%);
  animation: gradient 10s ease infinite; background-size:400%;
  z-index: -1;
}

@keyframes backanimcolor {
	0% {	background-color: #483562;    }	
	50% {	background-color: #0a0c77;     }		
	100% {	background-color: #898498; 	}
}

@keyframes backanim {
	0% {	background-position: 100%;    }	
	50% {	background-position: 500%;    }		
	100% {	background-position: 1000%;	}
}

#infoprog #imgprog img{
	filter: drop-shadow(-4px 0px 0 white) 
	 drop-shadow(4px -2px 0px white);
	 /*aspect-ratio: 183/250;*/
}
</style>