---
import Layout from './Layoutq.astro';
import DoubleBox from '../components/DoubleBox.astro';
import BoxBanner from '../components/BoxBanner.astro';
import LeaderBoard from'../components/LeaderBoard.astro';
import SuperLeader from '../components/SuperLeader.astro';


---
<link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/nrm-web/nrm/lib/flickity.css">			


<div class="main-carousel" data-flickity='{  "contain": true, "pageDots": false, "cellAlign": "center"}'>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2024/03/OYE_alternativa-PODCAST-min.png"/></div>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2024/01/DETRASdelaRADIO11-min.jpg"/></div>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2023/12/poscast-repira2.jpg"/></div>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2023/11/POP-TRENDS-portada.jpg"/></div>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2023/04/TOP-TECH.jpg"/></div>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2023/04/TOP-GAMING.jpg"/></div>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2023/04/podcast-FANDOM-PORTADA-PAG.jpg"/></div>
	<div class="carousel-cell"><img src="https://oyedigital.mx/wp-content/uploads/2023/03/podcast-debraye.jpg"/--></div>
</div>

<script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/flickity.pkgd.min.js"></script>

<style>



.carousel-cell {
  width: 350px;
  height: 400px;
  margin-right: 40px;
  border-radius: 20px;
}

.carousel-cell img{
	border-radius: 1rem;
	box-shadow: 0 2px 12px 7px rgba(0,0,0,0.4);
	margin-top: 20px;
}

.carousel-cell.is-selected {
  /*background: #ED2;*/
}
</style>