---
import { Image } from 'astro:assets';
---
<!--link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/nrm-web/nrm/lib/flickity.css"-->			


<!--div class="main-carousel" data-flickity='{ "lazyLoad": 1, "wrapAround": true, "cellAlign": "center", "pageDots": false, "autoPlay": true}'-->
<div class="main-carousel px-4">
	<div class="carousel-cell"><a href="/podcast/el-camino-de-las-estrellas"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_elcamino-min.jpg" width="200" height="200" alt="El camino de las estrellas"/></a></div>
	<div class="carousel-cell"><a href="/podcast/aqui-y-ahora"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_aqui-min.jpg" width="200" height="200" alt="Aquí y Ahora"/></a></div>
	<div class="carousel-cell"><a href="/podcast/noticias-que-parecen-broma-pero-no-son"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_noticias-min.jpg" width="200" height="200" alt="Noticias que parecen broma"/></a></div>
	<div class="carousel-cell"><a href="/podcast/quiero-ser-viral"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_viral2-min.jpg" width="200" height="200" alt="Quiero ser viral"/></a></div>
	<div class="carousel-cell"><a href="/podcast/tips-y-recomendaciones"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_tips-min.jpg" width="200" height="200" alt="Tips y recomendaciones"/></a></div>
	<div class="carousel-cell"><a href="/podcast/receta-fit"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_recetafit-min.jpg" width="200" height="200" alt="Receta fit"/></a></div>
	<div class="carousel-cell"><a href="/podcast/alguien-lo-tiene-que-hacer"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_alguien-min.jpg" width="200" height="200" alt="Alguien lo tiene que hacer"/></a></div>
	<div class="carousel-cell"><a href="/podcast/memorias"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_memorias-min.jpg" width="200" height="200" alt="Memorias"/></a></div>	
	<div class="carousel-cell"><a href="/podcast/top-tech"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_top-tech-min.jpg" width="200" height="200" alt="Top tech"/></a></div>
	<div class="carousel-cell"><a href="/podcast/top-gaming"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_top-gaming.jpg" width="200" height="200" alt="Top gaming"/></a></div>
	<div class="carousel-cell"><a href="/podcast/top-ten"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_topten.jpg" width="200" height="200" alt="Top ten"/></a></div>
	<div class="carousel-cell"><a href="/podcast/oye-la-alternativa"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_alternativa.png" width="200" height="200" alt="Oye la alternativa"/></a></div>
	<div class="carousel-cell"><a href="/podcast/al-otro-lado-de-la-radio"><Image class="block h-auto w-full object-fill border border-[#890000]" src="https://storage.googleapis.com/nrm-web/oye/recursos/podcast/PODCAST_otro-lado.jpg" width="200" height="200" alt="Al otro lado de la radio"/></a></div>
</div>

<!--script is:inline src="https://storage.googleapis.com/nrm-web/nrm/lib/flickity.pkgd.min.js"></script-->

<style>

.carousel-cell {
  width: 286px;
  height: 330px;
  margin-right: 40px;
  border-radius: 20px;
}

.carousel-cell img{
	border-radius: 1rem;
	box-shadow: 0 2px 12px 7px rgba(0,0,0,0.4);
	margin-top: 20px;
}

.carousel-cell.is-selected {
  /*background: #ED2;*/
}
</style>