---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Cards from '../../layouts/Cards.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
const res = await fetch("https://oyedigital.mx/wp-json/wp/v2/posts?_embed&per_page=20&categories=1616,1606&_fields[]=title&_fields[]=slug&_fields[]=yoast_head_json&_fields[]=content");
const posts = await res.json();


---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		
	</head>
	<body>
		<Header title={SITE_TITLE} />
		
		<main>
            <div class="container mx-auto">
				<h1>PROMOCIONES</h1>
				<div class="grid grid-cols-3 gap-8">
				{
				posts.map((post) => (
					<>
                    <Cards {post} />
                	</>
                ))
				}
				</div>
            </div>
		</main>
		<Footer />
	</body>
</html>
